/* write your css code here*/
.tag-item {
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-button {
  background-color: transparent;
  border: 1px solid #f3aa4e;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.tag-button:hover {
  background-color: #f3aa4e;
  color: #ffffff;
}

.active-tag {
  background-color: #f3aa4e;
  color: #ffffff;
}
